<a class="text-btn" href="{{ block.settings.button_link }}" {{ block.shopify_attributes }}>{{ block.settings.button_text }} <span>{{- 'icon-caret.svg' | inline_asset_content -}}</span></a>

{% schema %}
    {
        "name": "t:blocks.button.name",
        "settings": [
            {
            "type": "text",
            "id": "button_text",
            "label": "t:blocks.button.settings.button_text.label",
            "default": "t:blocks.button.settings.button_text.default"
            },
            {
            "type": "url",
            "id": "button_link",
            "label": "t:blocks.button.settings.button_link.label"
            }
        ],
        "presets": [
            {
                "name": "t:blocks.button.presets.name"
            }
        ]
    }
{% endschema %} 