<h3>New demo block</h3>

{% schema %}
    {
        "name": "Demo block",
        "settings": [
            {
                    "type": "header",
                    "content": "Header",
                    "info": "This is info"
            }
        ],
        "presets": [
            {
                "name": "Demo block"
            }
        ]
    }
{% endschema %}