<a class="text-btn" href="{{ block.settings.button_link }}">{{ block.settings.button_text }} <span>{{- 'icon-caret.svg' | inline_asset_content -}}</span></a>

{% schema %}
    {
        "name": "Demo block",
        "settings": [
            {
                    "type": "header",
                    "content": "Header",
                    "info": "This is info"
            }
        ],
        "presets": [
            {
                "name": "Demo block"
            }
        ]
    }
{% endschema %}