{% stylesheet %}
  .block_desc {
    font-size: 20px;
    letter-spacing: -0.01em;
    color: rgb(var(--color-foreground));
    line-height: 1.4;
  }
  .block_desc p:not(:last-child) {
    margin-bottom: 30px;
  }

    @media screen and (max-width: 991px){
        .block_desc{
            font-size: 14px;
            line-height: 20px;
        }
    }
{% endstylesheet %}

<div class="block_desc" {{ block.shopify_attributes }}>{{ block.settings.description }}</div>

{% schema %}
    {
        "name": "Description",
        "settings": [
            {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                   "default": "<p>We are a collective of creators, curating a minimalist aesthetic with a bold edge. Our designs are for the modern individual who seeks quality, comfort, and a touch of rebellion.</p>"
            }
        ],
        "presets": [
            {
                "name": "Description"
            }
        ]
    }
{% endschema %} 