{% stylesheet %}
  .block_desc {
    font-size: 20px;
    letter-spacing: -0.01em;
    color: rgb(var(--color-foreground));
    line-height: 1.4;
  }
  .block_desc p:not(:last-child) {
    margin-bottom: 30px;
  }

    @media screen and (max-width: 991px){
        .block_desc{
            font-size: 14px;
            line-height: 20px;
        }
    }
{% endstylesheet %}

<div class="block_desc" {{ block.shopify_attributes }}>{{ block.settings.description }}</div>

{% schema %}
    {
        "name": "t:blocks.description.name",
        "settings": [
            {
                    "type": "richtext",
                    "id": "description",
                    "label": "t:blocks.description.settings.description.label",
                   "default": "t:blocks.description.settings.description.default",
            }
        ],
        "presets": [
            {
                "name": "t:blocks.description.presets.name"
            }
        ]
    }
{% endschema %} 