{% stylesheet %}
    @media screen and (max-width: 991px){
        .theme_block_heading{
            font-size: 20px;
            line-height: 28px;
        }
    }
{% endstylesheet %}
<h3 class="theme_block_heading {% if block.settings.uppercase %}uppercase{% endif %}" {{ block.shopify_attributes }}>{{ block.settings.heading }}</h3>

{% schema %}
    {
        "name": "t:blocks.heading.name",
        "settings": [
            {
                    "type": "textarea",
                    "id": "heading",
                    "label": "t:blocks.heading.settings.heading.label",
                    "default": "t:blocks.heading.settings.heading.default"
            },
            {
                "type": "checkbox",
                "id": "uppercase",
                "label": "t:blocks.heading.settings.uppercase.label",
                "default": true
            }
        ],
        "presets": [
            {
                "name": "t:blocks.heading.presets.name"
            }
        ]
    }
{% endschema %}