/**----------------------------------------
START: 404 CSS
----------------------------------------*/
.breadcrumb-content-area.error-content .breadcrumb-title {
    font-size: 300px;
    margin-bottom: 30px;
  }
  
  .breadcrumb-content-area.error-content .breadcrumb-desc {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
  }
  
  .breadcrumb_error_button {
    margin-top: 75px;
  }
  
  .breadcrumb_error_button .breadcrumb-error-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }
  
  .breadcrumb_error_button .breadcrumb-error-btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -12px;
    background: #ffffff;
  }
  
  .breadcrumb_error_button .breadcrumb-error-btn span {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
  }
  
  .breadcrumb_error_button .breadcrumb-error-btn span svg {
    transform: rotate(-90deg);
  }
  
  .breadcrumb_error_button .breadcrumb-error-btn:hover span svg {
    animation: arrow-move .4s linear;
  }
  
  @media (max-width: 991px) {
    .breadcrumb-content-area.error-content .breadcrumb-title {
      font-size: 210px;
    }
  
    .breadcrumb_error_button {
      margin-top: 50px;
    }
  }
  
  
  @media (max-width: 767px) {
    .breadcrumb-content-area.error-content .breadcrumb-title {
      font-size: 180px;
    }
  
    .breadcrumb-content-area.error-content .breadcrumb-desc {
      font-size: 18px;
    }
  
    .breadcrumb_error_button {
      margin-top: 45px;
    }
  }
  
  @media (max-width: 575px) {
    .breadcrumb-content-area.error-content .breadcrumb-title {
      font-size: 120px;
      margin-bottom: 20px;
    }
  
    .breadcrumb-content-area.error-content .breadcrumb-desc {
      font-size: 16px;
    }
  
    .breadcrumb_error_button {
      margin-top: 35px;
    }
  }
  
  /* !END: 404 CSS *