.announce_item {
  text-align: center;
  width: 100%;
}
  .announce_item_title {
  font-size: 14px;
  line-height: 20px;
  padding-inline: 30px;
}
.announce_item_title a {
  position: relative;
}
.announce_item_title a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;    
  width: 100%;    
  height: 1px;    
  background-color: #000;
  transition:  0.4s ease-in-out;
}
.announce_item_title a:hover::after {
  width: 0%;
}
  .section-announcement .flickity-prev-next-button{
  align-items: center; 
  display: flex;
  background: transparent;
}
.section-announcement .flickity-prev-next-button .flickity-button-icon{
  width: 12px;
  position: static;
  color: var(--color-foreground);
}
.section-announcement .flickity-prev-next-button.next{
  justify-content: flex-end;
}
.section-announcement .flickity-button:disabled{
  opacity: 0.5;
} 