.blog-section-inner{
    display: grid;
    gap: 64px 24px;
    text-align: left;
}
.blog_view-all-button {
    text-align: center;
    margin-top: 80px;
}
@media only screen and (max-width: 767px) {
    .blog-section-inner{
        grid-template-columns: repeat(1, 1fr); 
        gap: 48px 24px;
    }
    .blog_view-all-button {
        margin-top: 48px;
    }
    .items-for-desktop {
        display: none;
    }
  }
  @media (min-width: 768px) {
      .items-for-mobile {
          display: none;
      }
  }

  .blog-post .blog-section-inner .flickity-prev-next-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff;
}
  .blog-post .blog-section-inner .flickity-prev-next-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
  .blog-post .blog-section-inner .flickity-prev-next-button.previous {
    left: 16px;
}
  .blog-post .blog-section-inner .flickity-prev-next-button.next {
    right: 16px;
}
  .blog-post .blog-section-inner .flickity-prev-next-button  svg {
  width: 10px;
  height: 10px;
      left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  .blog-post .blog-section-inner  .flickity-prev-next-button svg path {
  fill: #000;
}
  .blog-post .blog-section-inner  .flickity-prev-next-button:hover {
  background-color: #000;
}
  .blog-post .blog-section-inner  .flickity-prev-next-button:hover svg path {
  fill: #fff;
}