.blog_item_img {
    overflow: hidden;
    border-radius: 40px;
}

.blog_item_img>* {
    width: 100%;
    height: auto;
    display: flex;
    transition: .4s;
    transform: scale(1);
}

.blog_item_img:hover>* {
    transform: scale(1.05);
}

.blog-placeholder-svg {
    height: auto;
    width: 100%;
}

.blog_inner_image_section {
    margin-bottom: 48px;
}

.blog_meta_section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 22px;
}

.blog_meta_section ul li {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    /* color: rgba(var(--color-button-text), 1);
    border: 1.35px solid rgba(var(--color-button-border), 1);
    background-color: rgba(var(--color-button), 1); */
    padding: 7px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 100px;
}

.blog_main_header a {
    text-decoration: none;
}

.blog_main_header {
    color: rgba(var(--color-foreground));
}

.blog_main_header .title {
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), rgba(var(--color-foreground)) 1px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .4s;
    font-family: var(--font-family-heading);
}

.blog_main_header:hover .title {
    background-size: 100% 100%;
}

@media only screen and (max-width: 767px) {
    .blog_item_img {
        border-radius: 24px;
    }

    .blog_inner_image_section {
        margin-bottom: 28px;
    }

    .blog_meta_section ul {
        margin-bottom: 10px;
    }

    .blog_main_header {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0;
    }

    .blog_meta_section ul li {
        font-size: 12px;
        line-height: 16px;
    }
}