
.header-icons-group .disclosure__list-wrapper{
  position: absolute;
  top: 100%;
  left: auto;
  max-height: 300px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: transform .4s ease;
  border-radius: 0px 0px 24px 24px;
  overflow-x: hidden;
  z-index: 1;
  transform: translateY(-20px);
}
.disclosure__list-wrapper ul{
  background: rgb(var(--color-background));
  padding: 24px 48px 48px;

}
.disclosure__list-wrapper li:not(:last-child){
  margin-bottom: 28px;
}   
.disclosure__list-wrapper li > a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: rgb(var(--color-foreground));
  font-family: var(--font-family-body);
  gap: 10px;
}   
.disclosure__list-wrapper li > a.active{
  font-weight: 700;
}   
.disclosure__list-wrapper li > a > span{
  white-space: nowrap;
  position: relative;
}
.disclosure__list-wrapper li > a > span::after{
  content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: rgb(var(--color-foreground));
    transition: .4s;
}
.disclosure__list-wrapper li > a:hover > span::after{
  width: 100%;
}

.disclosure__button{
  text-decoration: none;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: rgb(var(--color-foreground));
text-transform: uppercase;
font-family:  var(--font-family-body);
display: flex;
align-items: center;
gap: 8px;
}
.disclosure__button .icon-caret{
  transition: .3s;
}
.disclosure__button.active .icon-caret{
  transform: rotate(180deg);
}
.header-icons-group .disclosure.menu-active .disclosure__list-wrapper{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.menu-drawer-footer .disclosure__list-wrapper{
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  border: 1px solid #ddd;
  border-radius: 24px;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
  transform: translateY(20px);
  transition: .3s;
}
.menu-drawer-footer .disclosure__list-wrapper ul{
padding: 24px;
}
.menu-drawer-footer .disclosure__list-wrapper.open{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

}
.menu-drawer-footer .disclosure{
  background: transparent;
}
@media (max-width: 991px) {
    .menu-drawer-footer .disclosure{
      position: relative;
}
}
.menu-drawer-footer .disclosure__button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}