.list-menu--right {
  right: 0;
}

.header__submenu {
  position: absolute;
  top: 100%;
  left: auto;
  max-width: 300px;
  visibility: hidden;
  opacity: 0;
  transition: transform .4s ease;
  border-radius: 0px 0px 24px 24px;
  display: unset;
  background: #fff;
  padding: 24px 48px 48px;
  transform: translateY(-20px);
}
.snazzy-header .header-menu .list-menu > li.menu-open > .has-sub-menu .header__submenu{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.list-menu--disclosure:focus {
  outline: none;
}


.snazzy-header .header-inner .list-menu li .has-sub-menu .header__menu-item{
font-family: var(--font-body-family);
font-weight: 400;
font-size: 18px;
line-height: 28px;
white-space: nowrap;
color: #000;
display: inline-flex;
align-items: center;
justify-content: space-between;
position: relative;
} 
.snazzy-header .header-inner .list-menu li .has-sub-menu .header__menu-item:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .3s ease;
} 
.snazzy-header .header-inner .list-menu li .has-sub-menu .header__menu-item:hover:after{
  width: 100%;
}
.list-menu__item--active:after{
  width: 100% !important;
}
.snazzy-header .has-sub-menu .header__submenu li:not(:last-child){
  margin-bottom: 18px;
}
.snazzy-header .header-inner .list-menu .has-sub-menu{
position: relative;
}
.snazzy-header .header-inner .list-menu .has-sub-menu  .has-sub-menu .header__submenu{
  top: 0;
  left: 100%;
  transform: translate3d(0, 20px, 0) !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
.snazzy-header .header-inner .list-menu .has-sub-menu  .has-sub-menu:hover .header__submenu{
  visibility: visible !important;
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
}
.snazzy-header .header-inner .list-menu .has-sub-menu .header__menu-item, .snazzy-header .header-inner .list-menu .has-sub-menu .header__menu-item span{
  position: relative;
}