.blog-section-inner{
    display: grid;
    gap: 60px 20px;
    padding: 20px;
    text-align: left;
}

.blog_bundle_cart_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog_item_img img {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 40px;
}
.blog-placeholder-svg {
    height: auto;
    width: 100%;
}
.blog_inner_content {
    margin-top: 40px;
}
.blog_meta_section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.blog_meta_section ul li {
    padding: 0px 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: "Archivo", serif;
    color: #000000;
    border: 1.35px solid black;
    border-radius: 100px;
}
.blog_main_header {
   font-size: 24px;
   line-height: 32px;
   font-weight: 700;
   font-family: var(--font-family-heading);
   letter-spacing: -0.01em;
}
.blog_main_header a {
    text-decoration: none;
    color: #000000;
}
.blog_view-all-button {
    text-align: center;
    margin-top: 39px;
}
.blog_view-all-button a {
    font-family: Oswald,serif;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    text-align: left;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.blog_view-all-button a span {
    height: 28px;
    width: 28px;
    background: #000000;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.blog_view-all-button a span svg path {
    fill: #fff;
}
@media only screen and (max-width: 991px) {
    .blog-section-inner{
        grid-template-columns: repeat(1, 1fr); 
    }
    .blog_item_img img {
        border-radius: 24px;
    }
    .blog_inner_content {
        margin-top: 30px;
    }
    .blog_main_header {
        font-size: 22px;
     }
     .blog_meta_section ul li {
        height: 32px;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
    }
  }