
.collection-section {
  position: relative;
  z-index: 1;
}

.collection_wrapper {
  display: grid;
  align-items: center;
  justify-content: space-between;
  scrollbar-width: thin;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 16px;
}
@media only screen and (max-width: 991px) {
  .collection_wrapper {
    display: flex;
  }
  .collection_wrapper .collection_item {
    flex: 1;
  }
  
}
.collection_item .item_inner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid transparent;
  padding: 52px 40px 64px;
  min-height: 385px;
  height: 100%; 
  border-radius: 200px;
  transition: all 0.4s ease-in-out 0s;
  overflow: hidden;
  text-decoration: none;
}
.collection_item .item_inner:hover {
  border-color: rgba(var(--color-foreground));
}

.collection_item  .title-wrapper {
  margin: 32px 10px 0;
  text-align: center;
}
.collection_item  .title {
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 1px), rgba(var(--color-foreground)) 1px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .4s;
  font-family:  var(--font-family-heading);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: center;   
}  
.collection_item .item_inner:hover  .title{  
  background-size: 100% 100%;  
} 

@media (max-width: 2000px) {
  .collection_item .item_inner {
    border-radius: 100px;
    padding: 38px 15px 20px;
    min-height: 224px;
  }
  .collection_wrapper .collection_item  .title {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .collection_wrapper {
    overflow-y: hidden;
    flex-wrap: nowrap;
    margin: 0 -24px;
  }  
  .collection_wrapper .collection_item:first-child{
    padding-left: 24px;
  }  
  .collection_wrapper .collection_item:last-child{
    padding-right: 24px;
  }  
}  

.custom-scroller-wrapper{
  position: relative;
}
.custom-scroller {
  overflow-x: auto;
  scrollbar-width: none;
   margin: 0 -24px;
}
.custom-scroller.has-scrollbar {
  padding-bottom: 28px; 
}
.scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: none; /* Hidden by default */
  overflow: hidden;
}

.scroll-thumb {
  height: 100%;
  width: 126px;
  background: #000;
  border-radius: 4px;
}
@media (max-width: 767px) {
      .collection_item .item_inner {
      border-radius: 0;
      padding: 0;
      width: 180px;
      transition: none;
      border: 0;
    }
}