.snazzy_pagination {
  margin-top: 120px;
}

.snazzy_pagination .pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 12px;
}

.snazzy_pagination .pagination-list .pagination_slide {
  font-size: 16px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 1);
}
.snazzy_pagination .pagination-list .pagination_slide:hover {
  text-decoration: underline;
}

.snazzy_pagination .pagination-list li.pagination_slide_next,
.snazzy_pagination .pagination-list li.pagination_slide_prev {
  border: none;
}

.snazzy_pagination .pagination-list li {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.snazzy_pagination .pagination-list .pagination_slide_prev {
  padding-right: 28px;
}

.snazzy_pagination .pagination-list .pagination_slide_next {
  padding-left: 28px;
}

.snazzy_pagination .pagination-list .pagination_slide_prev svg {
  transform: rotate(90deg);
}

.snazzy_pagination .pagination-list .pagination_slide_next svg {
  transform: rotate(-90deg);
}

.snazzy_pagination .pagination-list .pagination-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  color: rgba(var(--color-button-text), 1);
  width: 40px;
  height: 40px;
  line-height: 1;
  border-radius: 50%;
  font-family: var(--font-family-heading);
  transition: .4s;
  border: 1px solid rgba(var(--color-button-border), 1);
}

.snazzy_pagination .pagination-list .pagination-link:hover,
.snazzy_pagination .pagination-list .pagination-link.current {
  color: rgba(var(--color-button-text-hover), 1);
  background-color: rgba(var(--color-button-hover), 1);
  border-color: rgba(var(--color-button-border-hover), 1);
}

@media (max-width: 767px) {
  .snazzy_pagination {
    margin-top: 48px;
  }

  .snazzy_pagination .pagination-list .pagination_slide_prev {
    padding-right: 14px;
  }

  .snazzy_pagination .pagination-list .pagination_slide_next {
    padding-left: 14px;
  }

  .snazzy_pagination .pagination-list .pagination-link {
    font-size: 16px;
    width: 30px;
    height: 30px;
  }

  .snazzy_pagination .pagination-list {
    gap: 8px;
  }
}