.gallery-section{
  overflow: hidden;
}
.gallery-section .flickity-viewport{
  overflow: visible;
}
.gallery-section .flickity-enabled.is-draggable .flickity-viewport {
  cursor: default;
}

.gallery-section .flickity-button {
  background: #ffffff;
  transition: 0.3s;
}

.gallery-section .flickity-button .flickity-button-icon {
  transform: scale(1);
  transition: 0.3s;
}

.gallery-section .flickity-button:hover .flickity-button-icon {
  transform: scale(1.1);
}

.gallery-section .flickity-button:hover {
  background-color: #000000;
}

.gallery-section .flickity-button:hover svg path {
  fill: #ffffff;
}

.gallery-section .flickity-prev-next-button {
  width: 64px;
  height: 64px;
}

.gallery-section .flickity-prev-next-button.previous {
  left: 80px;
}

.gallery-section .flickity-prev-next-button.next {
  right: 80px;
}

.gallery-section .flickity-prev-next-button .flickity-button-icon {
  position: initial;
  width: 12px;
  height: 12px;
}

.galley_item {
  margin: 0 12px;
}

.galley_item:first-child {
  margin-left: 0;
}

.galley_item:last-child {
  margin-right: 0;
}

.galley_item .gallery_images {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 16px;
  z-index: 1;
}

.galley_item .gallery_images > svg, .galley_item .gallery_images > img {
  border-radius: 16px;
  transform: scale(1.2);
  transition: transform .6s ease-in-out;
}

.galley_item:hover .gallery_images > svg, .galley_item:hover .gallery_images > img {
  transform: scale(1.1);
}

.galley_item .gallery_images::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.galley_item .gallery_images > img, .galley_item .gallery_images > svg {
  height: 100%;
  border-radius: 16px;
}

.galley_item:hover .gallery_images::before {
  opacity: 1;
  visibility: visible;
}

.galley_item .gallery-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out 0s;
  z-index: 3;
}

.galley_item .gallery-icons svg {
  width: 88px;
  height: 88px;
}

.galley_item .gallery-icons svg path {
  fill: #ffffff;
}

.galley_item:hover .gallery-icons {
  opacity: 1;
  visibility: visible;
}

.gallery_button {
  margin-top: 50px;
  text-align: center;
}

.gallery_button .gallery-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  font-family: var(--font-family-heading);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.gallery_button .gallery-btn span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #000000;
  border-radius: 50%;
  overflow: hidden;
}
.gallery_button .gallery-btn span svg{
  transform: rotate(-90deg);
}

.gallery_button .gallery-btn:hover span svg {
  animation: arrow-move .4s linear;
}

.gallery_button .gallery-btn svg path {
  fill: #ffffff;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .galley_item .gallery-icons svg {
    width: 50px;
    height: 50px;
  }

  .gallery-section .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .gallery-section {
    padding-bottom: 100px;
  }
  .gallery-section .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }
  .gallery-section .flickity-prev-next-button.previous {
    left: 35px;
  }

  .gallery-section .flickity-prev-next-button.next {
    right: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .gallery-section {
    padding-bottom: 80px;
  }

  .gallery-section .flickity-prev-next-button.previous {
    left: 25px;
  }

  .gallery-section .flickity-prev-next-button.next {
    right: 25px;
  }

  .galley_item .gallery-icons svg {
    width: 50px;
    height: 50px;
  }

  .gallery-section .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }

  .gallery_button {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .gallery-section {
    padding-bottom: 80px;
  }

  .gallery-section .flickity-prev-next-button.previous {
    left: 15px;
  }

  .gallery-section .flickity-prev-next-button.next {
    right: 15px;
  }

  .galley_item .gallery-icons svg {
    width: 50px;
    height: 50px;
  }

  .gallery-section .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }

  .gallery_button {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .gallery-section {
    padding-bottom: 80px;
  }

  .gallery-section .flickity-prev-next-button.previous {
    left: 15px;
  }

  .gallery-section .flickity-prev-next-button.next {
    right: 15px;
  }

  .galley_item .gallery-icons svg {
    width: 40px;
    height: 40px;
  }

  .gallery-section .flickity-prev-next-button {
    width: 40px;
    height: 40px;
  }

  .galley_item {
    width: 44%;
  }

  .gallery_button {
    margin-top: 25px;
  }

  .gallery_button .gallery-btn {
    font-size: 16px;
  }

}
@media (max-width: 991px) {
  .gallery-section .gallery_wrapper items-carousel{
    display: none;
  } 
    .gallery-section .gallery_wrapper .custom-scroller-wrapper > div{
      gap: 12px;
      align-items: center;
    }
    .gallery-section .gallery_wrapper .custom-scroller-wrapper .galley_item{
      min-width: 40%;
      width: 40%;
      margin: 0;
    }
    .gallery-section .gallery_wrapper .custom-scroller-wrapper .galley_item:first-child{
      margin-left: 24px;
    }
    .gallery-section .gallery_wrapper .custom-scroller-wrapper .galley_item:last-child{
      margin-right: 24px;
    }
}