.page-width .heading_area {
  margin-bottom: 80px;
}

.heading_area .sec_title {
  font-size: 64px;
  line-height: 1;
}

  .desc p a {
    position: relative;
  }
  .desc p a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;    
    width: 100%;    
    height: 1px;    
    background-color: #000;
    transition:  0.4s ease-in-out;
  }
  .desc p a:hover::after {
    width: 0%;
  }

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .page-width .heading_area {
    margin-bottom: 60px;
  }

  .heading_area .sec_title {
    font-size: 54px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page-width  .heading_area {
    margin-bottom: 50px;
  }

  .heading_area .sec_title {
    font-size: 44px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-width .heading_area {
    margin-bottom: 50px;
  }

  .heading_area .sec_title {
    font-size: 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .page-width  .heading_area {
    margin-bottom: 50px;
  }

  .heading_area .sec_title {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .page-width  .heading_area {
    margin-bottom: 48px;
    text-align: center;
  }

  .heading_area .sec_title {
    font-size: 32px;
  }
}

/* !END: Heading CSS *
/
**----------------------------------------
START: Testimonial CSS
----------------------------------------*/

.testimonial-section .page-width {
  position: relative;
}

.testimonial-section .page-width .flickity-prev-next-button.previous {
  left: auto;
  right: 64px;
  top: -112px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: transparent;
  transition: .3s;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .testimonial-section .page-width .flickity-prev-next-button.previous {
    top: -90px;
  }

  .testimonial-section .page-width .flickity-prev-next-button.next {
    top: -90px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial-section .page-width .flickity-prev-next-button.previous {
    top: -70px;
  }

  .testimonial-section .page-width .flickity-prev-next-button.next {
    top: -70px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-section .page-width .flickity-prev-next-button.previous {
    top: -60px;
  }

  .testimonial-section .page-width .flickity-prev-next-button.next {
    top: -60px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonial-section .page-width .flickity-prev-next-button.previous {
    top: 34%;
    width: 50px;
    right: 50px;
    height: 50px;
    left: 16px;
    right: auto;
  }

  .testimonial-section .page-width .flickity-prev-next-button.next {
    top: 34% !important;
    width: 50px !important;
    height: 50px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonial-section .page-width .flickity-prev-next-button.previous {
    top: 34%;
    width: 50px;
    right: 50px;
    height: 50px;
    left: 16px;
    right: auto;
  }

  .testimonial-section .page-width .flickity-prev-next-button.next {
    top: 34% !important;
    width: 50px !important;
    height: 50px !important;
  }
}

@media (max-width: 575px) {
  .testimonial-section .page-width .flickity-prev-next-button.previous {
    top: 32%;
    width: 40px;
    right: 16px;
    height: 40px;
    left: 16px;
    right: auto;
  }

  .testimonial-section .page-width .flickity-prev-next-button.next {
    top: 32% !important;
    width: 40px !important;
    height: 40px !important;
    right: 16px !important;
  }

  .testimonial-section .page-width .flickity-prev-next-button .flickity-button-icon {
    width: 10px !important;
    height: 10px !important;
  }
}

.testimonial-section .page-width .flickity-button:disabled {
  opacity: 1;
}

.testimonial-section .page-width .flickity-prev-next-button .flickity-button-icon {
  width: 15px;
  height: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.testimonial-section .page-width .flickity-prev-next-button.next {
  right: 0;
  top: -112px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: transparent;
  transition: .3s;
}
.testimonial-section .page-width .flickity-prev-next-button svg path {
  fill: #000;
}
.testimonial-section .page-width .flickity-prev-next-button:hover {
  background-color: #000;
}
.testimonial-section .page-width .flickity-prev-next-button:hover svg path {
  fill: #fff;
}
.testimonial-item {
  display: flex;
  align-items: center;
  column-gap: 48px;
}
@media (max-width: 767px) {
  .testimonial-item {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .testimonial-section .page-width .flickity-prev-next-button{
    background-color: rgb(var(--color-button));
  }
}
@media (max-width: 767px) {
  .testimonial-section .page-width .flickity-prev-next-button{
    background-color: rgb(var(--color-button)) !important;
  }
  .testimonial-section .page-width .flickity-prev-next-button[disabled]{
    background-color: rgba(var(--color-button), 0.5) !important;
  }
  .testimonial-section .page-width .flickity-prev-next-button:hover svg path{
    fill: rgb(var(--color-button-text)) !important;
  }
}
@media only screen and (min-width: 1601px) and (max-width: 1770px) {
  .testimonial-section .testimonial-item {
    column-gap: 35px;
  }

  .testimonial-section .testimonial-item .testimonial-images {
    max-width: 360px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 2000px) {
  .testimonial-section .testimonial-item {
    column-gap: 25px;
  }

  .testimonial-section .testimonial-item .testimonial-images {
    max-width: 270px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-text .title {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .testimonial-section .testimonial-item {
    column-gap: 20px;
  }

  .testimonial-section .testimonial-item .testimonial-images {
    max-width: 194px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-text .title {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial-section {
    padding-bottom: 100px;
  }
 
  .testimonial-section .testimonial-item {
    column-gap: 30px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-text .title {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-section {
    padding-bottom: 80px; 
  }

  .testimonial-section .testimonial-item {
    width: 100%;
    column-gap: 30px;
  }

  .testimonial-section .testimonial-item .testimonial-images {
    max-width: 308px;
    width: 100%;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-text .title {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonial-section {
    padding-bottom: 80px;
  }

  .testimonial-section .testimonial-item {
    width: 100%;
    row-gap: 48px;
    justify-content: center;
  }

  .testimonial-section .testimonial-item .testimonial-images {
    max-width: 100%;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-text .title {
    font-size: 26px;
    margin-bottom: 15px;
    line-height: 30px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-text .desc {
    font-size: 16px;
    line-height: 28px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-author {
    justify-content: center;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-infos {
    justify-content: center;
    text-align: start;
  }

  .testimonial-item .testimonial-content .testimonial-infos .infos-text .title a  span{
    width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 1px), rgba(var(--color-foreground)) 1px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .4s;
}
  .testimonial-item .testimonial-content .testimonial-infos .infos-text:hover .title a span {
    background-size: 100% 100%;  
}
  .testimonial-section .testimonial-item .testimonial-content {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .testimonial-section {
    padding-bottom: 80px;
  }

  .testimonial-section .testimonial-item {
    width: 100%;
    row-gap: 48px;
    justify-content: center;
  }

  .testimonial-section .testimonial-item .testimonial-content {
    text-align: center;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-author {
    column-gap: 12px;
    justify-content: center;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-infos {
    justify-content: center;
    text-align: start;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-text .title {
    margin-bottom: 14px;
    line-height: 28px;
    font-size: 18px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-text .desc {
    font-size: 16px;
    line-height: 24px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-author .author-images {
    width: 40px;
    height: 40px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-author .author-text .title {
    font-size: 14px;
    line-height: 16px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-author .author-text .designation {
    font-size: 14px;
  }

  .testimonial-section .testimonial-item .testimonial-content .testimonial-infos .infos-text .title {
    font-size: 18px;
  }
}

.testimonial-item .testimonial-images {
  max-width: 428px;
  width: 100%;
}

.testimonial-item .testimonial-images img {
  border-radius: 1000px;
  width: 100%;
}

.testimonial-item .testimonial-content {
  width: 100%;
  padding-right: 24px;
}
.testimonial-item .testimonial-content > * + * {
  margin-top: 60px;
}
@media (max-width: 2000px) {
  .testimonial-item .testimonial-content > * + * {
    margin-top: 36px;
  }
}
@media (max-width: 767px) {
  .testimonial-item .testimonial-content {
    padding-right: 0;
  }  
}
.testimonial-item .testimonial-content .testimonial-text .title {
  margin-bottom: 38px;
}

.testimonial-item .testimonial-content .testimonial-text .desc {
  color: rgb(var(--color-foreground));
  letter-spacing: 0.02em;
  line-height: 32px;
  font-size: 18px;
}

.testimonial-item .testimonial-content .testimonial-text .desc p:last-child {
  margin-bottom: 0;
}

.testimonial-item .testimonial-content .testimonial-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
}

.testimonial-item .testimonial-content .testimonial-author .author-images {
  width: 48px;
  height: 48px;
}

.testimonial-item .testimonial-content .testimonial-author .author-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-item .testimonial-content .testimonial-author .author-text .title {
  color: rgb(var(--color-foreground));
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 16px;
  margin-bottom: 8px;
}

.testimonial-item .testimonial-content .testimonial-author .author-text .designation {
  display: inline-block;
  color: rgba(var(--color-foreground), .55);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.testimonial-item .testimonial-content .testimonial-infos {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.testimonial-item .testimonial-content .testimonial-infos .infos-text .title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

.testimonial-item .testimonial-content .testimonial-infos .infos-text .title a {
  position: relative;
  color: rgb(var(--color-foreground));
  z-index: 1;
}

.testimonial-item .testimonial-content .testimonial-infos .infos-text .title a::before {
  position: absolute;
  content: "";
  bottom: 1px;
  left: 0;
  right: 0;
  height: 1px;
  background: rgb(var(--color-foreground));
  width: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.testimonial-item .testimonial-content .testimonial-infos .infos-text .title a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.testimonial-item .testimonial-content .testimonial-infos .infos-text .price {
  display: inline-block;
  color: rgb(var(--color-foreground));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.testimonial-item .testimonial-content .testimonial-infos .testimonial-button {
  margin-top: 5px;
}

.testimonial-item .testimonial-content .testimonial-infos .testimonial-button svg {
  height: 15px;
  width: 15px;
}
.testimonial-item .testimonial-content .testimonial-infos .testimonial-button .link-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    transition: 0.4s;
}

.testimonial-item .testimonial-content .testimonial-infos:hover .testimonial-button .link-btn svg {
  animation: arrow-move .4s linear;
}