/**----------------------------------------
START: Community CSS
----------------------------------------*/
.slider-community-section {
    padding-top: 120px;
  }
  
  .slider-community-section .heading_area {
    text-align: center;
    margin-bottom: 80px;
  }
  
  .slider-community-section .flickity-button {
    background: rgb(var(--color-button));
  }

  .slider-community-section .flickity-button svg path {
    fill: rgb(var(--color-button-text));
  }

  .slider-community-section .flickity-button:hover {
    background-color: rgb(var(--color-button-hover));;
  }
  
  .slider-community-section .flickity-button:hover svg path {
    fill: rgb(var(--color-button-text-hover));
  }
  
  .slider-community-section .flickity-prev-next-button {
    width: 64px;
    height: 64px;
  }
  
  .slider-community-section .flickity-prev-next-button .flickity-button-icon {
    width: 12px;
    height: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slider-community-section .flickity-prev-next-button.previous {
    left: 16px;
  }
  
  .slider-community-section .flickity-prev-next-button.next {
    right: 16px;
  }
  
  .slider_community_item {
    position: relative;
    margin: 0 12px;
    width: 24%;
    border-radius: 24px;
  }
  
  .slider_community_item:first-child {
    margin-left: 0;
  }
  
  .slider_community_item:last-child {
    margin-right: 0;
  }
  
  .slider_community_item .slider_community_images {
    position: relative;
    border-radius: 24px;
  }
  
  .slider_community_item .slider_community_images::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
    border-radius: 24px;
  }
  
  .slider_community_item .slider_community_images a img {
    border-radius: 24px;
    width: 100%;
  }
  
  .slider_community_item .slider_community_content_box {
    display: flex;
    align-items: center;
    column-gap: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
  }
  
  .slider_community_item .slider_community_content_box .slider_community_thumb {
    display: flex;
    max-width: 86px;
    width: 100%;
  }
  
  .slider_community_item .slider_community_content_box .slider_community_thumb img {
    border-radius: 8px;
  }
  
  .slider_community_item .slider_community_content_box .slider_community_text .slider_community_title {
    color: rgba(var(--color-foreground));
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
  
  .slider_community_item .slider_community_content_box .slider_community_text .slider_community_percent {
    display: block;
    color: rgba(var(--color-secondary-foreground));
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .slider_community_item .slider_community_content_box .slider_community_text .slider_community_percent.active {
    color: rgba(var(--color-highlight-text));
  }
  
  .slider_community_item .slider_community_content_box .slider_community_text .slider_community_percent span {
    position: relative;
    color: rgba(var(--color-secondary-foreground), .5);
  }
  
  .slider_community_item .slider_community_content_box .slider_community_text .slider_community_percent span::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: rgba(var(--color-button-border));
  }
  
  @media only screen and (min-width: 1400px) and (max-width: 1599px) {
    .slider_community_item .slider_community_content_box {
      column-gap: 12px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_thumb {
      max-width: 65px;
    }
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .slider-community-section {
      padding-top: 100px;
    }
  
    .slider_community_item {
      width: 23.4%;
    }
  
    .slider_community_item .slider_community_content_box {
      column-gap: 12px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_thumb {
      max-width: 65px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_text .slider_community_title {
      margin-bottom: 5px;
      line-height: 24px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-community-section .flickity-prev-next-button {
      width: 56px;
      height: 56px;
    }
  
    .slider_community_item {
      width: 31.7%;
    }
  
    .slider_community_item .slider_community_content_box {
      column-gap: 12px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_thumb {
      max-width: 65px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-community-section {
      padding-top: 80px;
    }
  
    .slider-community-section .flickity-prev-next-button {
      width: 46px;
      height: 46px;
    }
  
    .slider_community_item {
      width: 48%;
    }
  
    .slider_community_item .slider_community_content_box {
      column-gap: 12px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_thumb {
      max-width: 65px;
    }
  }
  
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-community-section {
      padding-top: 80px;
    }
  
    .slider-community-section .flickity-prev-next-button {
      width: 46px;
      height: 46px;
    }
  
    .slider_community_item {
      width: 48%;
    }
  
    .slider_community_item .slider_community_content_box {
      column-gap: 12px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_thumb {
      max-width: 65px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_text .slider_community_title {
      margin-bottom: 5px;
      line-height: 24px;
    }
  }
  
  @media (max-width: 575px) {
    .slider-community-section {
      padding-top: 80px;
    }
  
    .slider_community_item {
      width: 100%;
    }
  
    .slider-community-section .flickity-prev-next-button {
      width: 40px;
      height: 40px;
    }
  
    .slider-community-section .flickity-prev-next-button .flickity-button-icon {
      width: 10px;
      height: 10px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_thumb {
      max-width: 64px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_text .slider_community_title {
      font-size: 18px;
      line-height: 28px;
    }
  
    .slider_community_item .slider_community_content_box .slider_community_text .slider_community_percent {
      font-size: 14px;
      line-height: 20px;
    }
  }
  
  /* !END: Community carousel CSS *