/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */
.swatch-input__label{
  width: 30px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  display: block;

}
.swatch {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border-radius: 50%;
}

.swatch--square {
  --swatch--border-radius: var(--swatch-input--border-radius, 0.2rem);
}

.swatch--unavailable {
  border-style: dashed;
  border-color: rgba(var(--color-foreground), 0.5);
}
