/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */
.swatch-input__label{
  width: 30px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  display: block;

}
.swatch {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border-radius: 50%;
}

.swatch--square {
  --swatch--border-radius: var(--swatch-input--border-radius, 0.2rem);
}

.swatch--unavailable {
  border-style: dashed;
  border-color: rgba(var(--color-foreground), 0.5);
}
.swatch-input__input:checked + .swatch-input__label .swatch{
  position: relative;
}
.product_single_right_content .swatch-input__input:checked + .swatch-input__label .swatch::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #000;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  transition: .3s ease-in-out;
  box-sizing: border-box;

}