
.collection-section {
  position: relative;
  z-index: 1;
}

.collection_wrapper {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  align-items: center;
  justify-content: space-between;
  scrollbar-width: thin;
  overflow-x: auto;
  overflow-y: hidden;
}
@media only screen and (max-width: 991px) {
  .collection_wrapper {
    display: flex;
  }
  .collection_wrapper .collection_item {
    flex: 1;
  }
  
}
.collection_item .item_inner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid transparent;
  padding: 52px 40px 64px;
  max-width: 280px;
  min-height: 385px;
  height: 100%; 
  border-radius: 200px;
  transition: all 0.4s ease-in-out 0s;
  overflow: hidden;
  text-decoration: none;
}
.collection_item .item_inner:hover {
  border-color: rgb(var(--color-foreground));
}

.collection_item  .title-wrapper {
  margin: 32px 10px 0;
  text-align: center;
}
.collection_item  .title {
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 1px), black 1px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .4s;
font-family:  var(--font-family-heading);
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.01em;
text-align: center;   
}  
.collection_item .item_inner:hover  .title{  
  background-size: 100% 100%;  
} 

@media (max-width: 1600px) {
  .collection_item .item_inner {
    border-radius: 100px;
    padding: 20px 15px;
    width: 180px;
    min-height: 224px;
  }
  .collection_wrapper .collection_item  .title {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .collection_wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-bottom: 28px;
    scrollbar-color: rgb(var(--color-foreground)) #ddd;
    scrollbar-width: thin;
    border-radius: 10px;
  }  
}  