/**----------------------------------------
START: Heading CSS
----------------------------------------*/
.heading_area {
    margin-bottom: 80px;
  }
  
  .heading_area .sec_title {
    font-size: 64px;
    text-transform: uppercase;
    line-height: 1;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .heading_area {
      margin-bottom: 60px;
    }
  
    .heading_area .sec_title {
      font-size: 54px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .heading_area {
      margin-bottom: 50px;
    }
  
    .heading_area .sec_title {
      font-size: 44px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .heading_area {
      margin-bottom: 50px;
    }
  
    .heading_area .sec_title {
      font-size: 40px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .heading_area {
      margin-bottom: 50px;
    }
  
    .heading_area .sec_title {
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .heading_area {
      margin-bottom: 48px;
      text-align: center;
    }
  
    .heading_area .sec_title {
      font-size: 32px;
    }
  }
  
  /* !END: Heading CSS *