 /**----------------------------------------
START: Blog CSS
----------------------------------------*/
.blog-feature-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .blog_feature_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 25px;
    background-color: #FFEC3E;
    border-radius: 40px;
    align-items: stretch;
    overflow: hidden;
  }
@media (max-width: 767px) {
      .blog_feature_item {
    grid-template-columns: 1fr;
  }
}
  
  .blog_feature_item .blog_feature_images {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0px 40px 40px 0px;
  }
  @media (max-width: 991px) {
    .blog_feature_item .blog_feature_images {
      order: -1;
    }
  }
  .blog_feature_item .blog_feature_images a {
    display: inline-flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
  @media (max-width: 767px) {
        .blog_feature_item .blog_feature_images a {
          position: static;
        }
  }
  .blog_feature_item .blog_feature_images a > *{
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    border-radius: 0px 40px 40px 0px;
    transition: 0.6s;
    object-fit: cover;
  }
  .blog_feature_item .blog_feature_images a:hover > *{
    transition: .4s;
    transform: scale(1.1);
  }
  .blog_feature_item .blog_feature_content {
    padding: 207px 200px 207px 80px;
  }

  .blog_feature_item .blog_feature_content .blog_category {
    justify-content: start;
    margin-bottom: 48px;
  }

.blog_category {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 16px;
}
  
.blog_category .category_text {
  color: rgba(var(--color-secondary-foreground));
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  /* border: 1.35px solid rgba(var(--color-secondary-foreground)); */
  border: 1.35308px solid #000000;
  border-radius: 100px;
  padding: 11px 16px;
  line-height: 1;
}

.blog_category .category_text .blog_anim {
  display: block;
  overflow: hidden;
  text-shadow: 0 23px 0 rgba(var(--color-secondary-foreground));
  transition: all ease 0.3s;
}

.blog_category .category_text .blog_anim >.anim_text {
  display: flex;
  gap: 7px;
  align-items: center;
  backface-visibility: hidden;
  transform: translateY(0);
  transition: all ease 0.3s;
}

.blog_category .category_text:hover .blog_anim>.anim_text {
  text-shadow: 0 23px 0 rgba(var(--color-secondary-foreground-hover));
  transform: translateY(-23px);
}

.blog_feature_item .blog_feature_content h4 {
  margin-bottom: 14px;
}


  .blog_feature_item .blog_feature_content .blog_feature_title {
    display: inline;
    background-image: linear-gradient(to right, currentColor 0, currentColor 100%);
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: all 0.3s, background-size 0.8s;
    text-transform: uppercase;
    color: rgba(var(--color-foreground));
  }
  .blog_feature_item .blog_feature_content .blog_feature_title:hover {
    color: rgba(var(--color-foreground-hover));
    background-size: 100% 2px;
  }
  .blog_feature_item .blog_feature_content .blog_desc {
    font-size: 16px;
    line-height: 24px;
    color: rgba(var(--color-secondary-foreground));
    margin-top: 24px;
  }
  
  .blog_feature_item .blog_feature_content .blog_feature_button {
    margin-top: 60px;
  }
  
  .blog_feature_item .blog_feature_content .blog_feature_button .blog-feature-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    font-family: var(--sds-ff-heading);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    z-index: 1;
    color: rgba(var(--color-secondary-button));
  }

  .blog_feature_item .blog_feature_content .blog_feature_button .blog-feature-btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background: #000;
  }

  .blog_feature_item .blog_feature_content .blog_feature_button .blog-feature-btn span {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgba(var(--color-button));
    overflow: hidden;
  }

  .blog_feature_item .blog_feature_content .blog_feature_button .blog-feature-btn span svg {
    transform: rotate(-90deg);
  }

  .blog_feature_item .blog_feature_content .blog_feature_button .blog-feature-btn:hover span svg {
    animation: arrow-move .4s linear;
  }

  
  .blog_feature_item .blog_feature_content .blog_feature_button .blog-feature-btn span svg path {
    fill: rgba(var(--color-button-text));
  }

  @media (max-width: 1599px) {
    .blog_feature_item .blog_feature_content {
      padding: 56px 200px 56px 80px;
    }
  }

  @media (max-width: 1399px) {
  .blog_feature_item .blog_feature_content {
    padding: 60px 60px;
  }
}
  
@media (max-width: 1199px) {
  .blog_feature_item .blog_feature_content {
    padding: 40px 30px;
  }

  .blog_feature_item .blog_feature_content h4 {
    line-height: 38px;
  }

  .blog_feature_item .blog_feature_content .blog_feature_button {
    margin-top: 25px;
  }

  .blog_feature_item .blog_feature_content .blog_category {
    margin-bottom: 24px;
  }
}
  
@media (max-width: 991px) {
  .blog_feature_item {
    flex-direction: column;
    border-radius: 24px;
  }

  .blog_feature_item .blog_feature_images {
    max-width: 100%;
  }

  .blog_feature_item .blog_feature_images {
    border-radius: 0px 0px 24px 24px;
  }

  .blog_feature_item .blog_feature_images a img {
    border-radius: 0px 0px 24px 24px;
  }
}
  
@media (max-width: 767px) {
  .blog-feature-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .blog_feature_item {
    flex-direction: column;
    border-radius: 24px;
  }

  .blog_feature_item .blog_feature_content {
    padding: 40px 75px 40px 30px;
  }

  .blog_feature_item .blog_feature_images a img {
    border-radius: 0px 0px 24px 24px;
  }
}

@media (max-width: 575px) {
  .blog-feature-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .blog_feature_item {
    flex-direction: column;
    border-radius: 24px;
  }

  .blog_feature_item .blog_feature_content {
    padding: 35px 20px;
  }

  .blog_feature_item .blog_feature_content h4 {
    line-height: 32px;
  }

  .blog_feature_item .blog_feature_images a img {
    border-radius: 0px 0px 24px 24px;
  }

  .blog_feature_item .blog_feature_content .blog_desc {
    font-size: 16px;
    line-height: 24px;
  }

  .blog_feature_item .blog_feature_content .blog_category ul {
    column-gap: 10px;
  }

  .blog_feature_item .blog_feature_content .blog_category ul li {
    font-size: 14px;
    padding: 9px 12px;
  }

  .blog_category .category_text {
    font-size: 14px;
  }
}
  
  /* !END: Blog CSS *
  