
/**----------------------------------------
START: Our journey CSS
----------------------------------------*/
.our-journey-section {
    padding-bottom: 120px;
  }
  
  .our-journey-section .heading-area {
    max-width: 930px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .our-journey-section .heading-area .our_journey_main_title {
    text-transform: uppercase;
    margin-bottom: 65px;
  }
  
  .our_journey_main_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 64px;
    background: rgba(var(--color-secondary-background)); 
    border-radius: 64px;
    overflow: hidden;
  }
  .our_journey_image_wrapper{
    position: relative;
    inset: 0;
    overflow: hidden;
    border-radius: 64px 0px 0px 64px;
    width: 100%;
    height: 100%;
  }
  @media (min-width: 992px) {
    .our_journey_main_wrapper .our_journey_images {
      position: absolute;
      inset: 0;
    }    
  }
  .our_journey_main_wrapper .our_journey_images > * {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  

  .our_journey_main_wrapper .our_journey_content {
    max-width: 750px;
    width: 100%;
  }
  
  .our_journey_main_wrapper .our_journey_menu {
    margin-bottom: 264px;
  }
  
  .our_journey_tabs .our_journey_tab {
    padding-block: 120px;
    padding-right: 64px;
  }
  
  .our_journey_main_wrapper .our_journey_tab .tabs_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    align-items: center;
    column-gap: 16px;
    row-gap: 10px;
    flex-wrap: wrap;
  }
  
  .our_journey_main_wrapper .our_journey_tab .tabs_menu li {
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 100px;
    padding: 11px 16px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
  }
  
  .our_journey_main_wrapper .our_journey_tab .tabs_menu li.active, .our_journey_main_wrapper .our_journey_tab .tabs_menu li:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

.our_journey_main_wrapper .our_journey_tab .tabs_menu li .journey_anim {
  display: block;
  overflow: hidden;
  text-shadow: 0 23px 0 #ffffff;
  transition: all ease 0.3s;
}

.our_journey_main_wrapper .our_journey_tab .tabs_menu li .journey_anim .journey_text {
  display: flex;
  gap: 7px;
  align-items: center;
  backface-visibility: hidden;
  transform: translateY(0);
  transition: all ease 0.3s;
}

.our_journey_main_wrapper .our_journey_tab .tabs_menu li.active .journey_anim .journey_text {
  text-shadow: 0 23px 0 #ffffff;
  transform: translateY(-23px);
}

  
  .our_journey_main_wrapper .our_journey_tab .tab-pane .our_journey_title {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #000;
    transform: translateY(23px);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .our_journey_main_wrapper .our_journey_tab .tab-pane.active .our_journey_title {
    transform: translateY(0);
    opacity: 1;
  }
  
  .our_journey_main_wrapper .our_journey_tab .tab-pane .our_journey_desc {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 28px;
    transform: translateY(23px);
    opacity: 0;
    transition: opacity 0.3s;
  }
    .our_journey_main_wrapper .our_journey_tab .tab-pane.active .our_journey_desc{
      transform: translateY(0);
      opacity: 1;
    }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .our_journey_main_wrapper .our_journey_menu {
      margin-bottom: 120px;
    }
  
    .our_journey_main_wrapper .our_journey_tab .tab-pane .our_journey_title {
      margin-bottom: 30px;
    }
  }
  
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .our_journey_main_wrapper .our_journey_menu {
      margin-bottom: 95px;
    }
  
    .our_journey_main_wrapper .our_journey_tab .tab-pane .our_journey_title {
      margin-bottom: 20px;
    }
  
    .our_journey_main_wrapper {
      column-gap: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .our-journey-section {
      padding-bottom: 100px;
    }
  
    .our_journey_main_wrapper {
      grid-template-columns: repeat(1, 1fr);
      border-radius: 24px;
    }
  
    .our-journey-section .heading-area .our_journey_main_title {
      margin-bottom: 30px;
      font-size: 32px;
      line-height: 40px;
    }
  
    .our_journey_main_wrapper .our_journey_menu {
      margin-bottom: 80px;
    }
  
    .our-journey-section .heading-area {
      margin-bottom: 60px;
    }
  
    .our_journey_tabs .our_journey_tab {
      padding: 40px 25px;
    }
  
    .our_journey_main_wrapper .our_journey_tab .tab-pane .our_journey_title {
      margin-bottom: 15px;
      line-height: 32px;
    }
  
    .our_journey_main_wrapper .our_journey_images img {
      border-radius: 24px 24px 0px 0px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .our-journey-section {
      padding-bottom: 80px;
    }
  
    .our_journey_main_wrapper {
      grid-template-columns: repeat(1, 1fr);
      border-radius: 24px;
    }
  
    .our-journey-section .heading-area .our_journey_main_title {
      margin-bottom: 25px;
            font-size: 32px;
      line-height: 40px;
    }
  
    .our_journey_main_wrapper .our_journey_menu {
      margin-bottom: 60px;
    }
  
    .our-journey-section .heading-area {
      margin-bottom: 40px;
    }
  
    .our_journey_tabs .our_journey_tab {
      padding: 40px 25px;
    }
  
    .our_journey_main_wrapper .our_journey_tab .tab-pane .our_journey_title {
      margin-bottom: 15px;
      line-height: 30px;
    }
  
    .our_journey_main_wrapper .our_journey_images img {
      border-radius: 24px 24px 0px 0px;
    }
  
    .our_journey_main_wrapper .our_journey_tab .tab-pane .our_journey_desc {
      font-size: 18px;
      line-height: 26px;
    }
  }
  
  @media (max-width: 575px) {
    .our-journey-section {
      padding-bottom: 80px;
    }
  
    .our_journey_main_wrapper {
      grid-template-columns: repeat(1, 1fr);
      border-radius: 24px;
    }
  
    .our-journey-section .heading-area .our_journey_main_title {
      margin-bottom: 25px;
            font-size: 32px;
      line-height: 40px;
    }
  
    .our_journey_main_wrapper .our_journey_menu {
      margin-bottom: 40px;
    }
  
    .our-journey-section .heading-area {
      margin-bottom: 40px;
    }
  
    .our_journey_tabs .our_journey_tab {
      padding: 30px 25px;
    }
  
    .our_journey_main_wrapper .our_journey_tab .tab-pane .our_journey_title {
      margin-bottom: 15px;
      line-height: 26px;
    }
  
    .our_journey_main_wrapper .our_journey_images img {
      border-radius: 24px 24px 0px 0px;
    }
  
    .our_journey_main_wrapper .our_journey_tab .tab-pane .our_journey_desc {
      font-size: 16px;
      line-height: 24px;
    }
  
    .our_journey_main_wrapper .our_journey_tab .tabs_menu li {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  /* !END: Our journey CSS *