renders-sub-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 0 24px;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  z-index: 5;
}

renders-sub-popup.active {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.4);
}

.popup_newsletter_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  z-index: 9;
}

.popup_newsletter_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 905px;
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 40px;
  z-index: 2;
  overflow: hidden;
}

.popup_newsletter_wrapper .popup_newsletter_content {
  padding: 88px  48px;
}
@media (max-width: 767px) {
  .popup_newsletter_wrapper{
    grid-template-columns: 1fr;
  }
  .popup_newsletter_wrapper .popup_newsletter_content {
    padding: 48px  24px;
  }   
  .popup_newsletter_wrapper .popup_newsletter_images{
    order: 2;
  }
}
.popup_newsletter_wrapper .popup_newsletter_images {
height: 100%;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}

.popup_newsletter_wrapper .popup_newsletter_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_title {
  text-transform: uppercase;
}
.popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_desc {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #494949;
}

.popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_desc strong {
  color: #000000;
}

.popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_close {
  position: absolute;
  top: 34px;
  right: 34px;
}

.popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_close svg {
  transition: transform .25s ease;
  will-change: transform;
  transform: scale(1) rotate(0deg);
}

.popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_close:hover svg {
  transform: scale(.8) rotate(90deg);
}

.popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_close svg path {
  fill: #484848;
}

.popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_text {
  width: 100%;
}

.contact_form_box_three form .form-input input[type="email"] {
  width: 100%;
  padding: 11px 12px;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  font-family: var(--sds-fs-body);
  color: #000000;
}

.contact_form_box_three form .form-input input[type="email"]::placeholder {
  color: #808080;
}

.contact_form_box_three form .form-input input[type="email"]::-ms-input-placeholder {
  color: #808080;
}

.contact_form_box_three form .form-checkbox {
  margin-top: 28px;
}

.contact_form_box_three form .form-checkbox label {
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

.contact_form_box_three form .form-checkbox .checkbox_link {
  position: relative;
  color: #0160A0;
}

.contact_form_box_three form .form-checkbox .checkbox_link::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  min-height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0160A0;
  will-change: transform;
  animation-duration: 0.9s;
  animation-timing-function: ease;
}

.contact_form_box_three form .form-checkbox .checkbox_link:hover:before {
  animation-name: hover-underline;
}

.contact_form_box_three form .form-checkbox input[type=checkbox] {
  position: relative;
  border: 1px solid #000;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  top: 1px;
}

.contact_form_box_three form .form-checkbox input[type=checkbox]:hover {
  opacity: 1;
}

.contact_form_box_three form .form-checkbox input[type=checkbox]:checked {
  background-color: #000;
  opacity: 1;
}

.contact_form_box_three form .form-checkbox input[type=checkbox]:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.contact_form_box_three form .form_button {
  margin-top: 20px;
}

.contact_form_box_three form .form_button .submit-btn {
  font-family: var(--sds-ff-heading);
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  text-transform: uppercase;
  width: 100%;
  border-radius: 10px;
  padding: 16px 15px;
  line-height: 1;
}

.contact_form_box_three form .form_button .submit-btn .submit_anim {
  display: inline-block;
  overflow: hidden;
  text-shadow: 0 0px 0 #ffffff;
  transition: all ease 0.3s;
}

.contact_form_box_three form .form_button .submit-btn .submit_anim>.anim_text {
  display: flex;
  gap: 7px;
  align-items: center;
  backface-visibility: hidden;
  transform: translateY(0);
  transition: all ease 0.3s;
}

.contact_form_box_three form .form_button .submit-btn:hover .submit_anim>.anim_text {
  text-shadow: 0 0px 0 #ffffff;
  /* transform: translateY(-23px); */
}

.popup_newsletter_wrapper.no-image {
  max-width: 400px;
  display: flex;
}
.popup_newsletter_wrapper.no-image  {
  max-width: 400px;
  display: flex;
}

.newsletter-form-field .submit-btn {
  font-family: var(--sds-ff-heading);
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  text-transform: uppercase;
  width: 100%;
  border-radius: 10px;
  padding: 16px 15px;
  line-height: 1;
}

.newsletter-form-field .submit-btn .submit_anim {
  display: inline-block;
  overflow: hidden;
  text-shadow: 0 0px 0 #ffffff;
  transition: all ease 0.3s;
}

.newsletter-form-field .submit-btn:hover .submit_anim>.anim_text {
  text-shadow: 0 0px 0 #ffffff;
  transform: translateY(-23px);
}

.newsletter-form-field .submit-btn .submit_anim>.anim_text {
  display: flex;
  gap: 7px;
  align-items: center;
  backface-visibility: hidden;
  transform: translateY(0);
  transition: all ease 0.3s;
}

.newsletter-form-field .field__label {
  display: none;
}

.popup_newsletter_text form .newsletter-form-field input[type=email] {
  width: 100%;
  padding: 11px 12px;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #808080;
  border-radius: 0;
  font-family: var(--sds-fs-body);
  color: #808080;
  margin-bottom: 20px;
}

.popup_newsletter_wrapper .popup_newsletter_content .popup_lower_content {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #494949;
}

.popup_newsletter_wrapper .popup_newsletter_content .popup_lower_content p {
  font-size: 16px;
  line-height: 24px;
  font-family: var(--sds-fs-body);
}

.popup_newsletter_text form .newsletter-form-field input[type="email"]::placeholder {
  color: #000000;
  opacity: 1;
  font-family: var(--sds-fs-body);
  font-size: 16px;
}

@media (max-width: 991px) {

  .popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_close {
    top: 20px;
    right: 20px;
  }

}

@media (max-width: 767px) {
  .popup_newsletter_wrapper {
    border-radius: 24px;
  }

  .popup_newsletter_wrapper .popup_newsletter_images {
    max-width: 100%;
    justify-content: center;
  }

  .popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_close {
    top: 20px;
    right: 20px;
  }

  .popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_desc {
    max-width: 100%;
  }

  .popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_title {
    line-height: 36px;
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  .popup_newsletter_wrapper {
    flex-direction: column-reverse;
  }

  .popup_newsletter_wrapper .popup_newsletter_images {
    max-width: 100%;
    justify-content: center;
  }

  .popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_close {
    top: 20px;
    right: 20px;
  }

  .popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_desc {
    max-width: 100%;
  }

  .popup_newsletter_wrapper .popup_newsletter_content .popup_newsletter_title {
    line-height: 36px;
  }
}
.popup_newsletter_wrapper.image-right .popup_newsletter_images{
  order: 2;
}
.popup_newsletter_text > * + * {
  margin-top: 24px;
} 
.popup_newsletter_text .large-top-margin{
  margin-top: 100px;
}
@media (max-width: 767px) {
  .popup_newsletter_text > * + * {
    margin-top: 12px;
  } 
  .popup_newsletter_text .large-top-margin{
    margin-top: 48px;
  }
}