.breadcrumb-main-area {
    background: linear-gradient(180deg, #0160A0 0%, #2992D9 100%);
}

.breadcrumb-content-area .breadcrumb-title {
    font-size: 144px;
    color: #FFEC3E;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    line-height: 1;
}

.anim-item {
    opacity: 1;
    transform: translateY(0);
}

.breadcrumb-content-area {
    position: relative;
    text-align: center;
    z-index: 2;
}

.breadcrumb-content-area .breadcrumb-link {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    z-index: 2;
}

.breadcrumb-content-area .breadcrumb-link ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.breadcrumb-content-area .breadcrumb-link ul li {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 13px;
    padding-right: 13px;
    line-height: 1;
    z-index: 1;
}

.breadcrumb-content-area .breadcrumb-link ul li::before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform: rotate(18deg);
    background: #ffffff;
}

.breadcrumb-content-area .breadcrumb-link ul li:last-child::before {
    display: none;
}

.breadcrumb-content-area .breadcrumb-link ul li a {
    position: relative;
    z-index: 1;
}

.breadcrumb-content-area .breadcrumb-link ul li a::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #ffffff;
    width: 100%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumb-content-area .breadcrumb-title {
        font-size: 90px;
    }
}

@media (max-width: 575px) {
    .breadcrumb-content-area .breadcrumb-title {
        font-size: 64px;
        letter-spacing: -0.03em;
    }

    .breadcrumb-main-area {
        padding-top: 80px;
        padding-bottom: 108px;
    }
}