.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .product-media-container {
  margin-bottom: var(--media-shadow-vertical-offset);
  max-width: 100%;
}

.featured-product .product__media-item {
  padding-left: 0;
}

.featured-product .placeholder-svg {
  display: block;
  height: auto;
  width: 100%;
}

.background-secondary .featured-product {
  padding: 2.5rem;
}

.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button + .product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
  min-height: 4.4rem;
}

.share-button + .product__view-details::after {
  content: '';
  clear: both;
  display: table;
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }

  .background-secondary .featured-product {
    padding: 5rem;
  }

  .product--right .product__media-wrapper {
    order: 2;
  }
}

@media screen and (min-width: 990px) {
  .background-secondary .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 0 0 5rem;
  }

  .background-secondary .featured-product:not(.product--no-media).product--right > .product__info-wrapper {
    padding: 0 5rem 0 0;
  }

  .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 7rem;
  }

  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
}

.featured-product .grid__item.product__info-wrapper .product__text {
    margin-bottom: 3px;
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
}
.featured-product .grid__item.product__info-wrapper .product__title {
    margin-top: 0;
    margin-bottom: 10px;
}
.featured-product .grid__item.product__info-wrapper .price .price-item.price-item--sale {
    color: #FF3E3E;
    font-size: 20px;
    letter-spacing: -0.01em;
}

.featured-product .grid__item.product__info-wrapper .price .price-item.price-item--regular {
    color: #808080;
    font-size: 20px;
    letter-spacing: -0.01em;
}

.featured-product .grid__item.product__info-wrapper .price .price__badge-sale {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    background: #FF3E3E;
    text-transform: uppercase;
    border-radius: 24px;
    padding: 6px 12px;
    line-height: 1;
}

.featured-product .grid__item.product__info-wrapper .price.price--large {
    margin-bottom: 20px;
}

.featured-product .product__info-wrapper .rating-wrapper .product .rating-star {
    letter-spacing: .4;
}

.featured-product.grid {
    grid-template-columns: repeat(2, 2fr);
    gap: 60px;
}
.featured-product .grid__item.product__media-wrapper, .featured-product .grid__item.product__info-wrapper  {
    max-width: 100%;
    width: calc(100% / 1);
    padding: 0;
}

@media screen and (max-width: 575px) {
.featured-product.grid {
    grid-template-columns: repeat(1, 1fr);
}
}

