.footer .footer-top-content .footer-top-content-inner{
  display: grid;
  grid-template-columns: 70% 30%;
}
.footer .footer-newsletter .newsletter-heading{
  font-family: var(--font-family-heading);
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.02em;
  margin-bottom: 56px;
  text-transform: uppercase;
  color: #000;
}
.footer .footer-newsletter .field-inner{
  max-width: 320px;
  width: 100%;
  position: relative;
}
.footer .footer-newsletter .field-inner .newsletter-form-input{
  border: transparent;
  background: transparent;
  height: 40px;
  border-bottom: 2px solid #000;
  width: 100%;
  font-family:var(--font-family-body);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #000;
  padding-bottom: 19px;
}
.footer .footer-newsletter .field-inner .newsletter-form-input::placeholder{
  color: #000;
}
.footer .footer-newsletter .field-inner .newsletter-form-button{
  position: absolute;
  top: 0;
  right: 0;
}