.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .product-media-container {
  margin-bottom: var(--media-shadow-vertical-offset);
  max-width: 100%;
}
.featured-product .product-media-container > svg{
  border-radius: 24px;
}

.featured-product .product__media-item {
  padding-left: 0;
}

.featured-product .placeholder-svg {
  display: block;
  height: auto;
  width: 100%;
}

.background-secondary .featured-product {
  padding: 2.5rem;
  border-radius: 60px;
}
@media (max-width: 767px) {
  .background-secondary .featured-product {
    border-radius: 24px;
  }   
}
.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button + .product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
  min-height: 4.4rem;
}

.share-button + .product__view-details::after {
  content: '';
  clear: both;
  display: table;
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }

  .background-secondary .featured-product {
    padding: 5rem;
  }

  .product--right .product__media-wrapper {
    order: 2;
  }
}

@media screen and (min-width: 990px) {
  .background-secondary .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 0 0 5rem;
  }

  .background-secondary .featured-product:not(.product--no-media).product--right > .product__info-wrapper {
    padding: 0 5rem 0 0;
  }

  .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 7rem;
  }

  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
}

.featured-product .grid__item.product__info-wrapper .product__text {
    margin-bottom: 10px;
    font-size: 18px;
    color: grey;
    letter-spacing: 1px;
}
.featured-product .grid__item.product__info-wrapper .product__title {
    margin-top: 0;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .featured-product .grid__item.product__info-wrapper .product__title {
    font-size: 32px;
    line-height: 1.2;
}
}
.featured-product .grid__item.product__info-wrapper .price .price-item.price-item--sale {
    color: #FF3E3E;
    font-size: 20px;
    letter-spacing: -0.01em;
}

.featured-product .grid__item.product__info-wrapper .price .price-item.price-item--regular {
    color: #808080;
    font-size: 20px;
    letter-spacing: -0.01em;
}

.featured-product .grid__item.product__info-wrapper .price .price__badge-sale {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    background: #FF3E3E;
    text-transform: uppercase;
    border-radius: 24px;
    padding: 6px 12px;
    line-height: 1;
}
.featured-product .grid__item.product__info-wrapper .price .price__badge-sold-out {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    background: #000000;
    text-transform: uppercase;
    border-radius: 24px;
    padding: 3px 12px;
}

.product__view-details .icon {
    width: 2.2rem;
    margin-left: 0; 
    flex-shrink: 0;
    margin-top: 2px;
}

.featured-product .grid__item.product__info-wrapper .price.price--large {
    margin-bottom: 20px;
}

.featured-product .grid__item.product__info-wrapper .price.price--large::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    margin-top: 20px;
}

.grid__item.product__info-wrapper .product__info-container > * + * {
    margin: 1.5rem 0;
}

.featured-product .product__info-wrapper .rating-wrapper .product .rating-star {
    letter-spacing: .4;
}

.featured-product .grid__item.product__info-wrapper .product-form__input {
    display: block;
    margin-bottom: 30px;
}

.featured-product .grid__item.product__info-wrapper .product-form__submit {
    margin-bottom: 1rem;
    width: 50%;
    background: transparent;
    padding: 16px 0;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0px;
}
.featured-product .grid__item.product__info-wrapper .product-form__submit::before { 
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #000000;
    z-index: -1;
    transition: all 0.3s;
    transition-delay: .2s;
}

.quick_shop_main_wrapper .quick_shop_atc_form_button .quick-shop-add-btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #000000;
    z-index: -1;
    transition: all 0.3s;
    transition-delay: .2s;
}

.featured-product .grid__item.product__info-wrapper  .product-form__input .form__label {
    margin-bottom: 16px;
    font-size: 18px;
}

.featured-product .grid__item.product__info-wrapper .quantity::after {
    box-shadow: none;
    align-items: center;
    background: #F6F6F6;
    border-radius: 10px;
    padding: 14px 20px;
    z-index: -1;
}

.featured-product .grid__item.product__info-wrapper .quantity::before {
    background: transparent;
}

.featured-product .grid__item.product__info-wrapper .product-form__input {
    flex: 0 0 100%;
    padding: 0;
    margin-inline: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.featured-product .grid__item.product__info-wrapper .product-form__quantity {
   display: block;
}
.featured-product .grid__item.product__info-wrapper .product-form__quantity span svg {
  display: block;
} 
.featured-product .grid__item.product__info-wrapper .product-form .product-form__buttons {
    display: flex;
    align-items: center; 
    gap: 16px;
    flex-wrap: wrap;
}
.featured-product .grid__item.product__info-wrapper .product__view-details {
    display: flex;
    text-decoration: none;
    font-size: 16px;
}
.featured-product .grid__item.product__info-wrapper .product-form .product-form__buttons>* {
    width: calc(50% - 8px);
}
.featured-product .grid__item.product__info-wrapper .product-form .product-form__submit {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 13px 25px;
    border-radius: 10px;
    margin-bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.featured-product .grid__item.product__info-wrapper .product-form .shopify-payment-button__button {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 13px 25px;
    border-radius: 10px;
    height: unset;
    overflow: hidden;
}

.featured-product .grid__item.product__info-wrapper .shopify-payment-button__button--unbranded {
    background: #FF3E3E;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 20px;
    border-radius: 10px;
    text-align: center;
}
.featured-product .grid__item.product__info-wrapper .shopify-payment-button__button--unbranded:after {
  box-shadow: none;
}
.featured-product.grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 48px;
}
.featured-product .grid__item.product__media-wrapper, .featured-product .grid__item.product__info-wrapper  {
    max-width: 100%;
    width: calc(100% / 1);
    padding: 0;
}

@media screen and (max-width: 575px) {
.featured-product.grid {
    grid-template-columns: repeat(1, 1fr);
}
}
.background-secondary  .featured-product{
  background: #ddd;
}


