.login-section {
    background: linear-gradient(180deg, #0160a0 0%, #2992d9 100%);
}

.contact_form_box_two {
    max-width: 465px;
    width: 100%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: 48px 48px;
}

.contact_form_box_two form .field {
    display: block;
    margin-bottom: 10px;
    margin-top: 0px;
}

.field__label,
.customer .field label {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    left: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: var(--sds-ff-body);
}

.contact_form_box_two .form-input label {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.contact_form_box_two form .field input[type="email"],
.contact_form_box_two form .field input[type="password"] {
    width: 100%;
    padding: 20px 24px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: var(--sds-fs-body);
    color: #808080;
}

.contact_form_box_two h1 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-family-heading);
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
    line-height: 30px;
}

.contact_form_box_two form .submit-btn {
    position: relative;
    color: #ffffff;
    background-color: #000000;
    font-family: var(--font-family-heading);
    font-weight: 700;
    width: 100%;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 19px 15px;
    line-height: 1;
    margin-top: 0px;
}

.contact_form_box_two .form_desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: none;
    font-family: var(--sds-fs-body);
}

.contact_form_box_two h2.form__message {
    font-size: 18px;
    color: #000000;
    margin-top: 0px;
    text-align: center;
    text-transform: math-auto;
    margin-bottom: 16px;
}

.errors ul li {
    margin-bottom: 10px;
}

.contact_form_box_two form .form__message {
    font-size: 14px;
    line-height: 14px;
    display: inline;
    color: #808080;
}

.contact_form_box_two form .field input[type="text"]::placeholder,
.contact_form_box_two form .field input[type="password"]::placeholder,
.contact_form_box_two form .field input[type="email"]::placeholder {
    color: #000000;
    opacity: 1;
    font-family: var(--sds-fs-body);
    font-size: 16px;
}

.contact_form_box_two .submit-btn .submit_anim {
    display: inline-block;
    overflow: hidden;
    text-shadow: 0 23px 0 #ffffff;
    transition: all ease 0.3s;
}

.contact_form_box_two .submit-btn:hover .submit_anim>.anim_text {
    text-shadow: 0 23px 0 #ffffff;
    transform: translateY(-23px);
}

.contact_form_box_two .submit-btn .submit_anim>.anim_text {
    display: flex;
    gap: 7px;
    align-items: center;
    backface-visibility: hidden;
    transform: translateY(0);
    transition: all ease 0.3s;
}

.contact_form_box_two form .login_create_accent {
    font-size: 14px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    font-family: var(--sds-ff-body);
}

.contact_form_box_two form .login_create_accent .button_routing {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: #808080;
}

.contact_form_box_two form .login_create_accent .button_routing::before {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    min-height: 1px;
    right: 0;
    bottom: 6px;
    left: 0;
    background: #000000;
    will-change: transform;
    animation-duration: 0.9s;
    animation-timing-function: ease;
}

.contact_form_box_two.customer form {
    margin-top: 0px;
}

.contact_form_box_two form .forgot_password {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #808080;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact_form_box_two form .forgot_password::before {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    min-height: 1px;
    right: 0;
    bottom: 6px;
    left: 0;
    background: #808080;
    will-change: transform;
    animation-duration: 0.9s;
    animation-timing-function: ease;
}

.contact_form_box_two form .forgot_password span {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.contact_form_box_two form a:focus,
.contact_form_box_two form a:hover {
    color: inherit;
    text-decoration: none;
}

.contact_form_box_two form a {
    color: inherit;
    outline: none;
    border: none;
    background: transparent;
}

a {
    text-decoration: none;
}

.contact_form_box_two .field {
    margin-bottom: 20px;
    display: block;
}

.field__label,
.customer .field label {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    left: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.contact_form_box_two form .field input[type="email"],
.contact_form_box_two form .field input[type="password"] {
    width: 100%;
    padding: 20px 24px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: var(--sds-fs-body);
    color: #000000;
}

.contact_form_box_two form .submit-btn {
    position: relative;
    color: #ffffff;
    background-color: #000000;
    font-family: var(--sds-ff-heading);
    font-weight: 700;
    width: 100%;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 19px 15px;
    line-height: 1;
    margin: 20px 0px;
}

.contact_form_box_two .form_desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: none;
}

.contact_form_box_two form a {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #808080;
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.contact_form_box_two form a::before {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    min-height: 1px;
    right: 0;
    bottom: 6px;
    left: 0;
    background: #808080;
    will-change: transform;
    animation-duration: 0.9s;
    animation-timing-function: ease;
}

.contact_form_box_two form .field input::placeholder {
    color: #999;
    font-size: 14px;
}

.contact_form_box_two form .field input[type="text"] {
    width: 100%;
    padding: 20px 24px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: var(--sds-fs-body);
    color: #000000;
}

.account .customer__title {
    margin-bottom: 30px;
}

.account .order-history {
    margin-top: 30px;
}

.customer.addresses {
    text-align: center;
}

.addresses .address__title {
    margin-bottom: 30px;
}

.addresses .address-btn {
    border-bottom: 3px solid #000000;
    text-decoration: none;
}

.account .address-btn {
    border-bottom: 3px solid #000000;
    text-decoration: none;
}

.update-btn,
.addresses .add-btn,
.addresses .edit-btn,
.addresses .delete-btn {
    position: relative;
    color: #ffffff;
    background-color: #000000;
    font-family: var(--sds-ff-heading);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    padding: 19px 15px;
    line-height: 1;
}


@media (max-width: 575px) {
    .contact_form_box_two {
        max-width: 100%;
        padding: 30px 20px;
    }
}