
.collection-tab .tab-header{
  margin-bottom: 80px;
  gap: 24px;
}
.snazzy-tab-buttons{
  gap: 16px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .collection-tab .tab-header{
    margin-bottom: 48px;
    flex-direction: column;
    text-align: center;
  }
  .collection-tab .snazzy-tab-buttons{
    overflow-x: auto;
    flex-wrap: nowrap !important;
    white-space: nowrap;
    gap: 12px;
  }
  .collection-tab .sec_title{
  font-size: 32px;
  line-height: 40px;
  }
  .collection-tab .snazzy-tab-button:first-child {
    margin-left: auto;
}

.collection-tab .snazzy-tab-button:last-child {
    margin-right: auto;
}
}
.collection-tab .snazzy-tab-button {
    border: 1px solid rgba(var(--color-button-border), 1);
    background-color: rgba(var(--color-button), 1);
    cursor: pointer;
    font-family: var(--font-family-body);
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    padding: 11px 16px;
    border-radius: 100px;
    transition: .4s;
    color: rgb(var(--color-button-text));
    white-space: nowrap;
    text-transform: uppercase;
  }
@media (max-width: 991px) {
  .collection-tab .snazzy-tab-button {
      font-size: 12px;
      line-height: 12px;
      padding: 9px 16px;
    }
}
.collection-tab .snazzy-tab-button.active {
    background-color: rgba(var(--color-button-hover), 1);
    color: rgb(var(--color-button-text-hover));
  }

  .collection-tab .snazzy-tab-content {
    height: 0;
    overflow: hidden;
    transition: opacity .6s, transform .6s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(24px);
  }

  .collection-tab  .snazzy-tab-content.active {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .collection-tab .product-grid {
    display: grid;
    gap: 64px 24px;
  }
  @media (max-width: 767px) {
    .collection-tab .product-grid {
      grid-template-columns: 1fr 1fr !important;
    }
  }
  .collection-tab .collection-tab .view-all-btn-wrapper{
    margin-top: 80px;
  }
  @media (max-width: 991px) {
    .collection-tab .view-all-btn-wrapper{
      margin-top: 48px;
    }
  }
.snazzy-icon-btn{
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--color-button-text);
  }
.snazzy-icon-btn span{
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--color-button-text), 1);
    border-radius: 50%;
    overflow: hidden;
  }
.snazzy-icon-btn span svg{
  transform: rotate(-90deg);
  }
.snazzy-icon-btn:hover span svg{
  animation: arrow-move .4s linear;
  }
.snazzy-icon-btn span svg path{
  fill: rgba(var(--color-button), 1);
  }
  @keyframes arrow-move {
    0% {
      transform: translateX(0%) rotate(-90deg);
    }
    50%{
      transform: translateX(100%) rotate(-90deg);
    }
    51%{
      transform: translateX(-100%) rotate(-90deg);
    }
    100% {
      transform: translateX(0) rotate(-90deg);
    }
  }