  .redefine_wrapper {
    position: relative;
    border-radius: 64px;
    padding: 0 70px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
  
  .redefine_wrapper .bg_images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .redefine_wrapper .bg_images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .redefine_wrapper .redefine_title {
    max-width: 895px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 143px;
  }
  .redefine_wrapper .redefine_title .title {
    font-size: 144px;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: -0.01em;
    color:  var(--color-foreground);
    line-height: 1;
  }
  @media only screen and (min-width: 1400px) and (max-width: 1600px), only screen and (min-width: 1200px) and (max-width: 1399px) {
    .redefine_wrapper .redefine_title {
      margin-bottom: 100px;
    }
    .redefine_wrapper .redefine_title .title {
      font-size: 100px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .redefine_wrapper .redefine_title {
      max-width: 620px;
      margin-bottom: 90px;
    }
    .redefine_wrapper .redefine_title .title {
      font-size: 80px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .redefine_wrapper {
      padding: 100px 70px 140px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .redefine_wrapper {
      padding: 90px 70px 110px;
      border-radius: 44px;
    }
    .redefine_wrapper .redefine_title {
      margin-bottom: 80px;
    }
    .redefine_wrapper .redefine_title .title {
      font-size: 70px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .redefine_wrapper {
      padding: 80px 70px 110px;
      border-radius: 34px;
    }
    .redefine_wrapper .redefine_title {
      margin-bottom: 50px;
    }
    .redefine_wrapper .redefine_title .title {
      font-size: 60px;
    }
  }
  @media (max-width: 575px) {
    .redefine_wrapper {
      padding: 80px 45px 110px 56px;
      border-radius: 24px;
    }
    .redefine_wrapper .redefine_title {
      max-width: 285px;
      margin-bottom: 48px;
    }
    .redefine_wrapper .redefine_title .title {
      font-size: 32px;
      line-height: 1.2;
    }
  }
  
  .redefine_item {
    column-gap: 8px;
    max-width: 1167px;
    margin-left: auto;
    margin-right: auto;
  }
  .redefine_item .redefine_images {
    position: relative;
    max-width: 500px;
    width: 100%;
    border: 15px solid rgba(var(--color-background), 1);
  }
  .redefine_item .redefine_images .shapes-1 {
    position: absolute;
    top: 45px;
    left: -55%;
    max-width: 350px;
    width: 100%;
  }
  .redefine_item .redefine_content {
    position: relative;
    max-width: 560px;
    width: 100%;
    padding: 120px 64px;
    margin-bottom: 45px;
  }
  .redefine_item .redefine_content .redefine_content_inner > * + * {
            margin-top: 50px;
  }
  @media (max-width: 991px) {
    .redefine_item .redefine_content .redefine_content_inner > * + * {
      margin-top: 36px;
}
  }
 
  .redefine_item  .desc {
    font-size: 20px;
    letter-spacing: -0.01em;
    color: rgb(var(--color-foreground));
    line-height: 1.4;
  }
  .redefine_item .redefine_content .desc p {
    margin-bottom: 30px;
  }
  .redefine_item .redefine_content .desc p:last-child {
    margin-bottom: 0;
  }
  .redefine_item .redefine_content .shapes-2 {
    max-width: 225px;
    width: 100%;
    position: absolute;
    top: 55%;
    right: -45%;
  }
  .redefine_item .redefine_content .shapes-3 {
    max-width: 265px;
    width: 100%;
    position: absolute;
    bottom: -12.4%;
    left: -29.5%;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .redefine_item .redefine_content .title {
      font-size: 35px;
    }
  }
  @media only screen and (min-width: 1601px) and (max-width: 1770px) {
    .redefine_item .redefine_images .shapes-1 {
      top: 80px;
      left: -37%;
      max-width: 240px;
    }
  }
  @media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .redefine_item {
      max-width: 1020px;
    }
    .redefine_item .redefine_images {
      max-width: 450px;
    }
    .redefine_item .redefine_images .shapes-1 {
      top: 70px;
      left: -40%;
      max-width: 220px;
    }
    .redefine_item .redefine_content {
      max-width: 520px;
      padding: 120px 50px;
    }
    .redefine_item .redefine_content .shapes-2 {
      max-width: 175px;
      top: 55%;
      right: -38%;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .redefine_item {
      max-width: 925px;
    }
    .redefine_item .redefine_images {
      max-width: 400px;
    }
    .redefine_item .redefine_images .shapes-1 {
      top: 65px;
      left: -32%;
      max-width: 180px;
    }
    .redefine_item .redefine_content {
      max-width: 460px;
      padding: 90px 40px;
    }
    .redefine_item .redefine_content .shapes-2 {
      max-width: 150px;
      top: 55%;
      right: -36%;
    }
    .redefine_item .redefine_content .shapes-3 {
      max-width: 180px;
      bottom: -8.4%;
      left: -24.5%;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .redefine_item {
      max-width: 795px;
    }
    .redefine_item .redefine_images {
      max-width: 360px;
    }
    .redefine_item .redefine_images .shapes-1 {
      top: 60px;
      left: -24%;
      max-width: 145px;
    }
    .redefine_item .redefine_content {
      max-width: 376px;
      padding: 60px 30px;
    }
    .redefine_item .redefine_content .shapes-2 {
      max-width: 120px;
      top: 55%;
      right: -34%;
    }
    .redefine_item .redefine_content .shapes-3 {
      max-width: 150px;
      bottom: -8.4%;
      left: -24.5%;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .redefine_item {
      max-width: 795px;
    }
    .redefine_item .redefine_images {
      max-width: 410px;
    }
    .redefine_item .redefine_images .shapes-1 {
      top: 40px;
      left: -15%;
      max-width: 145px;
    }
    .redefine_item .redefine_content {
      max-width: 520px;
      padding: 60px 30px;
    }
    .redefine_item .redefine_content .title {
      letter-spacing: -0.02em;
      color: rgb(var(--color-foreground));
      font-size: 30px;
  }
    .redefine_item .redefine_content .shapes-2 {
      max-width: 120px;
      top: 55%;
      right: -25%;
    }
    .redefine_item .redefine_content .shapes-3 {
      max-width: 150px;
      bottom: -12%;
      left: 3%;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .redefine_item {
      max-width: 795px;
    }
    .redefine_item .redefine_images {
      max-width: 410px;
    }
    .redefine_item .redefine_images .shapes-1 {
      top: 20px;
      inset-inline-start: -15%;
      max-width: 145px;
    }
    .redefine_item .redefine_content {
      max-width: 100%;
      padding: 50px 25px;
      margin-top: -20px;
    }
    .redefine_item .redefine_content .title {
      font-size: 25px;
    }
    .redefine_item .redefine_content .desc {
      font-size: 18px;
    }
    .redefine_item .redefine_content .desc p {
      margin-bottom: 20px;
    }
    .redefine_item .redefine_content .shapes-2 {
      max-width: 110px;
      top: -20px;
      right: -10%;
    }
    .redefine_item .redefine_content .shapes-3 {
      max-width: 130px;
      bottom: -13%;
      left: 50%;
      transform: translateX(-50%);
    }
    .redefine_item .redefine_content .redefine_button {
      margin-top: 35px;
    }
  }
  @media (max-width: 575px) {
    .redefine_item {
      max-width: 795px;
    }
    .redefine_item .redefine_images {
      max-width: 225px;
      border: 7px solid rgb(var(--color-background));
      left: -22px;
    }
    .redefine_item .redefine_images .shapes-1 {
      top: -25px;
      left: -10%;
      max-width: 94px;
    } 
    .redefine_item .redefine_content {
      max-width: 280px;
      padding: 48px 24px;
      margin-top: -75px;
      margin-bottom: 10px;
    }
    .redefine_item .redefine_content.no_redefine_images {
      margin-top: 0;
    }
    .redefine_item .redefine_content .title {
      max-width: 230px;
      width: 100%;
      font-size: 20px;
      margin-bottom: 20px;
      letter-spacing: -0.01em;
    }
    .redefine_item .redefine_content .desc {
      font-size: 14px;
      line-height: 20px;
    }
    .redefine_item .redefine_content .desc p {
      margin-bottom: 20px;
    }
    .redefine_item .redefine_content .shapes-2 {
      max-width: 96px;
      top: -20px;
      right: -3%;
    }
    .redefine_item .redefine_content .shapes-3 {
      max-width: 114px;
      bottom: -13%;
      left: 50%;
      transform: translateX(-50%);
    }
    .redefine_item .redefine_content .redefine_button {
      margin-top: 36px;
    }
  }

